:root {
  --color-brand--1: #a67c00; /* A deep gold shade */
  --color-brand--2: #005f56; /* A sophisticated teal green */
  --color-dark--1: #1c1c1c; /* Almost black */
  --color-dark--2: #333333; /* Dark grey */
  --color-light--1: #f5f5f5; /* Off-white */
  --color-light--2: #d9d9d9; /* Light grey */
  --color-light--3: #c0c0c0; /* Soft silver */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;
  background-color: #fff;
  padding: 2.5rem;
  display: flex;
}

/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand--1);
}

/* SIDEBAR */
.sidebar {
  flex-basis: 50rem;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 5.2rem;
  align-self: center;
  margin-bottom: 4rem;
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 2rem 3rem;
  margin-bottom: 2rem;
  display: grid;
  gap: 1.5rem;
  transition: all 0.5s ease;
}

.form.hidden {
  display: none;
}

.form__label {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-light--2);
}

.form__input {
  width: 100%;
  padding: 1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}

.form__btn {
  background-color: var(--color-brand--2);
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form__btn:hover,
.form__btn:focus {
  background-color: var(--color-brand--1);
  outline: none;
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
}

.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}
